.example-card {
    max-width: 750px;
    margin: 40px;
    text-align: center;
  }
  /* Structure */
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}